[submodule "themes/bilberry-custom"]
	path = themes/bilberry-custom
	url = https://github.com/fbcnsilva/bilberry-custom.git
[submodule "themes/themes/bilberry-custom"]
	path = themes/themes/bilberry-custom
	url = https://github.com/fbcnsilva/bilberry-custom.git
